<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="app.component.scss" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
    </style>
  </head>
  <body>
    <div class="column-container">
      <h1>Pwd Crusher 💣</h1>
      <p>Put your hash below to see the clear password</p>
      <app-input-loop-back></app-input-loop-back>
      <footer>Made for educational purpose only, by ThomasCdnns with ❤️</footer>
    </div>
  </body>
</html>
